.App {
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  background: #373a36;
  border-radius: 16px;
  overflow: hidden;
  width: 550px;
  margin: 0 auto;
}

h1 {
  margin: 6px ​0px ​-5px 0;
}

.simulate {
  height: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: 20px 0;
}

.controls {
  padding: 20px 0;
}

body {
  background: #eee;
}

p {
  font-size: 14px;
}

.canvas {
  width: 500px;
  height: 500px;
  /* padding: 20px; */
}
